<% layout("layout") -%>
<nav class="navbar navbar-default">
  <div class="container-fluid" style="background-color: #302e2e ">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/facebook">Facebook</a></li>
    </ul>
  </div>
</nav>
    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-8">
                    <h1>Blood Bank India</h1>
                    <p>Donating blood is safe and simple. It takes approximately 10-15 minutes to complete the blood donation process. Any healthy adult between 18 years and 60 years of age can donate blood. </p>
                </div>
            </div>
        </div>
    </header>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/index">Blood Bank</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/searchDonor">Search Donors</a></li>
      <li><a href="/registerDonor">Register as Donor</a></li>
      <li><a href="/aboutUs">About us</a></li>
    </ul>
  </div>
</nav>

   <div class ="container">
        <div class="row row-content align-items-center">
            <div class="col-sm-4 col-md-3 flex-last">
                <h3>About Blood Groups</h3>
            </div>
            <div class="col-sm col-md flex-first">
                <div class="media">
                <div class="media-body" style="font-size: 150%;">
                    <p>Blood type is determined by which antibodies and antigens the person's blood produces. An individual has two types of blood groups namely ABO-grouping and Rh-grouping. Rh is called as the Rhesus factor that has come to us from Rhesus monkeys.</p></br>

                    <p>Most humans are in the ABO blood group. The ABO group has four categories namely</br> 
                    1) A group</br>2) B group</br> 3) O group </br> 4) AB group</br>
                    In the Rh- group, either the individual is said to be Rh- Negative or Rh- Positive.</p></br>

                    <p>Thus blood group of any human being will mainly fall in any one of the following groups.</br> 
                    A positive or A negative </br>
                    B positive or B negative </br>
                    O positive or O negative </br>
                    AB positive or AB negative.</br>
                    </p>
                </div>
                </div>
            </div>
        </div>



    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">             
                <div class="col-5 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="/index">Home</a></li>
                        <li><a href="/.html">Search Donor</a></li>
                        <li><a href="#">Register as Donor</a></li>
                        <li><a href="/contactus.html">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-6 col-sm-5">
                    <h5>Our Address</h5>
                    <address>
		             Seawoods, Navi Mumbai<br>
		              INDIA<br>
		              <i class="fa fa-phone fa-lg"></i>: +852 1234 5678<br>
		              <i class="fa fa-fax fa-lg"></i>: +852 8765 4321<br>
		              <i class="fa fa-envelop fa-lg"></i>: <a href="mailto:confusion@food.net">confusion@food.net</a>
		           </address>
                </div>
                <div class="col col-sm-4 align-self-center">
                    <div style="text-align: center">
                        <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                        <a class="btn btn-social-icon btn-facebook"href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-linkedin"href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter"href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-youtube"href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                        <a class="btn btn-social-icon "href="mailto:"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>
           </div>
           <div class="row justify-content-center">             
                <div class="col-auto">
                    <p>Blood Bank India Ltd</p>
                </div>
           </div>
        </div>
    </footer>
