<% layout("layout") -%>
<div class="jumbotron text-center">
	<h1>Register as a Donor</h1></br>
    <a href="/profile" class="btn btn-default">Back</a>
</div>


<div class="container">
<h2> Donor information</h2></br>
<div class="container">
<form action="/registerDonor" method="post">
		<div class="form-group floating-label-form-group">
		  <input type="text" class="form-control" id="name" name="name" placeholder="Enter your full name">
		</div>
		<div class="form-group floating-label-form-group">
		  <input type="number" class="form-control" id="weight" name="weight" placeholder="Enter your weight in kgs">
		</div>

		<div class="form-group">
  			<label for="sel1">Blood Group</label>
 			<select class="form-control" id="sel1" name="bloodgp">
    		<option>A+</option>
    		<option>A-</option>
    		<option>B+</option>
    		<option>B-</option>
    		<option>O+</option>
    		<option>O-</option>
    		<option>AB+</option>
    		<option>AB-</option>
  			</select>
		</div>

		<div class="container">

		
    	 <div class="radio">
      	<label><input type="radio" name="gender">Male</label>
   		 </div>
    	<div class="radio">
      	<label><input type="radio" name="gender">Female</label>
    	</div>
  		
		</div>
		</br>


		<h3>Date of Birth</h3>
		<div class="container">
    	<div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type="text" class="form-control" name="dob" placeholder="Enter in the dd/mm/yyyy format"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    	</div>
		</div>

		<h1>Contact Information</h1>


		<div class="form-group floating-label-form-group">
		  <input type="tel" class="form-control" id="telnum" name="telnum" placeholder="Enter your telephone number">
		</div>

		<div class="form-group">
  			<label for="sel1">Select state</label>
  			<select class="form-control" id="state" name="state">
    		<option>Maharashtra</option>
    		<option>Goa</option>
    		<option>Andhra pradesh</option>
    		<option>Chattisgargh</option>
    		<option>Jammu and Kashmir</option>
    		<option>West Bengal</option>
    		<option>Sikkim</option>
    		<option>Karnataka</option>
    		<option>Tamil Nadu</option>
    		<option>Madhya pradesh</option>
    		<option>Kerala</option>
    		<option>Uttar pradesh</option>
    		<option>Bihar</option>
    		<option>Jharkand</option>
    		<option>Gujrat</option>
    		<option>Manipur</option>
    		<option>Rajasthan</option>
    		<option>Delhi</option>
    		<option>Punjab</option>
    		<option>Haryana</option>
    		<option>Telangana</option>
  			</select>
		</div>

		

    	</br>
    	</br>

    
		<button type="submit" class="btn btn-success">Register</button>
	</form>
	</div>

</div>
